@{
    ViewData["Title"] = "Products";

    var resources = Resources.ProductCategoryImages;

    <div align="center">

        <div style="background-color: white">
            <br />
            <br />
            <h1>Our Products</h1>
            <h4>Browse for product(s) by category...</h4>
            <br />
            <div>

            <i>Jump to...</i><br /><br />
                @{
                    // Iterate through the ProductCategories collection.
                    foreach(var category in Resources.ProductCategories)
                    {
                        <button class="button-class button-class-small2" style="background-color: white; color: black; border-color: black; border-width: 1px; border-style: solid" onmouseover="QuickNav_MouseHover(event)" onmouseout="QuickNav_MouseLeave(event)" onclick="document.getElementById('@category').scrollIntoView()">@category</button>
                        <span>&nbsp;&nbsp;</span>
                    }
                }

                <br />
                <br />
            </div>
        </div>

        <div style="background-color: black; height: 3px"></div>
        @{
            int count = 0;

            // Iterate through the 'resources' collection.
            foreach (var resource in resources)
            {
                <div id="@Resources.ProductCategories[count]">
                    <div>
                        <br />
                        <div style="background-color: black; width: 300px">
                            <div style="height: 0.5rem"></div>
                            <h4 style="font-weight: bold; margin: 0px; color: white">@Resources.ProductCategories[count]</h4>
                            <div style="height: 0.5rem"></div>
                        </div>
                        <br />

                        @{
                            // Check if the resource is a PNG image.
                            if (resource.EndsWith(".png"))
                            {
                                // Do not assign a border to the image.
                                <img src="@resource" height="400" />
                            }
                            else
                            {
                                // Assign a border to the image if it is not a PNG image.
                                <img src="@resource" height="400" style="border-color: black; border-width: 3px; border-style: solid" />
                            }
                        }
                        <br />
                        <br />

                        @{
                            string category = Resources.ProductCategories[count].Replace(" ", string.Empty);
                        }

                        <button class="button-class" onclick="window.location = '/Home/ProductDisplay?Category=@category'">View All Products</button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>

                if (count < resources.Length - 1)
                {
                    <div style="background-color: rgb(120, 120, 120); height: 30px">
                    <div style="height: 4px"></div>
                        <div style="background-color: rgb(220, 220, 220); height: 22px"></div>
                    </div>
                }

                count++;
            }
        }
    </div>
}