@{
    ViewData["Title"] = "ProductDisplay";
}

<div align="center">

    @{
        int productCount = DataStorage.ProductTable.Count;
        Product[] products = new Product[productCount];
        int count = 0;

        foreach (var sProduct in DataStorage.ProductTable)
        {
            products[count] = new Product
                {
                    Id = sProduct[0],
                    Name = sProduct[1],
                    Price = Convert.ToSingle(sProduct[2]),
                    Category = sProduct[3],
                    TotalStock = Convert.ToInt32(sProduct[4]),
                    ImagePath = sProduct[5]
                };
            count++;
        }

        <table cellpadding="16" style="border-color: black; border-width: 2px; border-style: solid">

            @{
                string sCategory = this.Context.Request.Query["Category"];
                int count2 = 0;

                foreach (Product product in products)
                {
                    if (product.Category == sCategory)
                    {
                        count2++;
                        string? imageFullPath = DataStorage.ProductImageStorage?.GetFullPath(product.ImagePath);

                        <tr>
                            <td><img src="@imageFullPath" style="width: 300px" /></td>
                            <td style="background-color: white">
                                <b style="font-size: 13pt">@product.Name</b><br />
                                <b style="font-size: 13pt">Price: @product.Price.ToString("N2")</b>
                            </td>
                            @{
                                if (ABCRetail.UserLoggedIn)
                                {
                                    <td>
                                        <button class="button-class button-class-small2" onclick="BuyProduct('@product.Id', '@ABCRetail.UserName', 'OnceOff')">Pay Now</button>
                                        <br />
                                        <button class="button-class button-class-small2" onclick="BuyProduct('@product.Id', '@ABCRetail.UserName', 'Contract')">Pay On Contract</button>
                                    </td>
                                }
                            }
                        </tr>
                    }
                }

                if (count2 == 0)
                {
                    <tr>
                        <td style="background-color: white">No products found</td>
                    </tr>
                }
            }

        </table>
        <br />
        <button class="button-class" onclick="window.location = '/Home/Products'">Back</button>
    }

</div>